#gameCanvas {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#score {
    text-align: center;
    font-size: 3vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
  }
h1{
    text-align: center;
    color: #00B041;
    font-size: 5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: rgb(148, 219, 17);
}
.button {
    background-color: navy;
    color: honeydew;
    font-size: 15px;
    border-color: aqua;
    border-radius: 30%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    color:#280C6B;
    background-color: #11A2F6;
}